#bottom-bar-node {
    -fx-background-color: #AAAAAA;
    -fx-border-style: solid inside;
    -fx-border-width: 3;
    -fx-alignment: center;
    -fx-max-width: 400;
}


#cards-hbox {
    -fx-alignment: center-left;
}