#dialog-vbox {
    -fx-background-color: #AAAAAA;
    /*-fx-background-color: transparent;*/
    -fx-border-style: solid inside;
    -fx-border-width: 3;
    -fx-border-radius: 18 18 18 18;
    -fx-border-color: #FC3D44;
}